@keyframes specialBG {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.backgroundRepeating {
    background: linear-gradient(to top, rgba(255, 23, 104, 0.7) 0%, rgba(0, 255, 221, 0.69) 33%, rgba(255, 23, 104, 0.7) 66%, rgba(0, 255, 221, 0.69) 100%);
    min-height: 100vh;
    background-size: 300% 300%;
    animation: specialBG 4s infinite linear;
}

.sideNavRepeating {
    background: linear-gradient(to bottom, rgba(92, 50, 245, 0.65) 0%, rgba(15, 201, 176, 0.58) 33%, rgba(92, 50, 245, 0.65) 66.66%, rgba(15, 201, 176, 0.58) 100%);
    min-height: 100vh;
    background-size: 300% 300%;
    animation: specialBG 3s infinite linear;
}

.loginBtn {
    background-color: #161b33;
    &:hover {
        background-color: #28396b;
        border-color: transparent;
    }
}